<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Visualizations and analysis of wine quality based on reviews from the country's top 10 wine critics. ">
        <meta name="author" content="Top Wine Team - Project Group 2">

        <!-- <a target="_blank" href="https://icons8.com/icon/UKe62kB0eYkQ/wine">Wine</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
        <link rel="icon" type="image/png" href="../static/img/favicon.png">

        <title>Top Wine</title>

        <!-- Bootstrap core CSS -->
        <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="static/css/grayscale.css" rel="stylesheet">

        <!-- Bootstrap core JavaScript -->
        <script defer src="static/vendor/jquery/jquery.min.js"></script>
        <script defer src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script defer src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for this template -->
        <script defer src="static/js/grayscale.min.js"></script>

        <!-- D3 -->
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

        <!-- MomentJS -->
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

        <!-- Plotly Javascript -->
        <script defer src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>

    <body id="page-top">
        <!-- Navigation -->
        {% include 'components/navbar.html' %}

        <!-- Header -->
        {% include 'components/hero.html' %}

        <!-- Projects Section -->
        <section id="projects" class="projects-section bg-light">
            {% include 'components/intro.html' %}
            {% include 'components/sourced_from.html' %}
            {% include 'components/map_card.html' %}
            {% include 'components/varieties.html' %}
            {% include 'components/wine_by_variety_chart.html' %}
            {% include 'components/wine_bottle_fill.html' %}
            {% include 'components/price_vs_rating_plot.html' %}
            {% include 'components/conclusions.html' %}
        </section>

        <!-- Footer -->
        {% include 'components/footer.html' %}

        <!-- VARIABLES -->
        <script id="app-data" type="application/json">
            {
                "states": {{ states | tojson }},
                "data10": {{ top10 | tojson }},
                "table10": {{ table10 | tojson }}
            }
        </script>
        <script type="text/javascript">
            var appData = JSON.parse(document.getElementById('app-data').textContent);
            var data = appData.states;
            var data10 = appData.data10;
            var table10 = appData.table10;
        </script>
    </body>

</html>