/* remove default margin and padding from body */
body {
    padding: 0;
    margin: 0;
}
  
/* set map, body, and html to 100% of the screen size */
html
body {
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
}