#top-row {
    margin: 1%;
    padding: 2%;
}


#map {
    width: 100%;
    height: 400px;
    position: relative;
    margin:0;
    padding:0; 
    border: 1px solid black;
    
  }

  #bar-chart {
    width: 100%;
    height: 400px;
    position: relative;
    margin:0;
    padding: 1px; 
  }

  #taster-profile {
    margin-top: 28%;
    margin-bottom: 1%;
    
  }

  @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400');

  *,
  *:before,
  *:after{
    box-sizing: border-box;
  }
  
  * {
    user-select: none; 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    transform-style: preserve-3d; 
    margin: 0;
    padding: 0;
  }
  
  *:focus {
    outline: none!important; 
  }
  
  
  .container{
    width:100vw;
    height: 10vh;
    display: flex;
    flex-flow: row;
    perspective: 1000px;
    perspective-origin: center;
  }
  
  .col{
    height:  900%;
    transition: transform 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000), opacity 300ms ease;
    transform: translateZ(34px) scale(.98);
    flex: 0 0 33.3333%; 
    position: relative;
  }
  
  .col:nth-of-type(1){
    transform: rotateY(5deg) translateZ(34px) scale(.98);
  }
  
  .col:nth-of-type(3){
    transform: rotateY(-5deg) translateZ(34px) scale(.98);
  }
  
  .col:hover,
  .col:focus{
    transform: translateZ(34px);
    transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000), opacity 300ms ease;
  }
  
  .card-container{
    position: relative;
    width: calc(100% - 25px);
    height:  calc(33.3% - 25px);
    margin: 17px;
    padding: 8px;
    text-align: center;
    opacity: 1;
  }
  
  .card-container:hover,
  .card-container:focus{
    opacity: 1;
  }
  
  
  .card{
    border-radius: 5px;
    height: 100%;
    transition: all 300ms ease-out;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    z-index: 0;
    opacity: 1;
    padding: 13px 21px;
  }
  
  .card:before,
  .card:after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .50;
    transition: transform 300ms ease;
    transform: scale(.98);
  }
  
  .card:before{
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .card-container:hover .card:before,
  .card-container:hover .card:after,
  .card-container:focus .card:before,
  .card-container:focus .card:after{
    opacity: 1;
    transform: scale(1);
  }
  
  .col:nth-of-type(1) .card-container:nth-of-type(1) .card:before{
        background-image: url('https://images.pexels.com/photos/51947/tuscany-grape-field-nature-51947.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  
  .col:nth-of-type(2) .card-container:nth-of-type(1) .card:before{
        background-image: url('https://images.pexels.com/photos/1407849/pexels-photo-1407849.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  
  .col:nth-of-type(3) .card-container:nth-of-type(1) .card:before{
        background-image: url('https://images.pexels.com/photos/301692/pexels-photo-301692.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  
  .col:nth-of-type(1) .card-container:nth-of-type(2) .card:before{
        background-image: url('https://images.pexels.com/photos/442969/pexels-photo-442969.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  
  .col:nth-of-type(2) .card-container:nth-of-type(2) .card:before{
        background-image: url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  
  .col:nth-of-type(3) .card-container:nth-of-type(2) .card:before{
        background-image: url('https://images.pexels.com/photos/1660560/pexels-photo-1660560.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  
  .card:after{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.322) 50%,rgba(99, 0, 86, 0.925) 100%);
  }
  
  h4{
    text-align: left;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
    font-weight:700;
    transform: translateY(5px);
    transition: transform 450ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    max-width: 320px;
    outline: 1px solid transparent;
  }
  
  .overlay:hover ~ .card h4,
  .overlay:focus ~ .card h4{
    transform: translateZ(144px);
  }
  
  .card > span{
    font-size: 34px;
    opacity: 1;
    transform: translateX(-3px);
    transition: all 300ms ease;
  }
  
  .card-container:hover > .card > h4,
  .card-container:focus > .card > h4{
    transform: translateY(-13px);
  }
  
  .card-container:hover > .card > span,
  .card-container:focus > .card > span{
   opacity: 1;
      transform: translateX(3px);
    animation: slideRight 300ms ease;
  }
  
  @media (max-width: 1100px){
    .container{
      height: 100vh;
    }

    .col {
      height: 100%;
    }
  }

  @media (max-width: 768px){
    h4{
      font-size: 17px;
    }
  }
  
  @media (max-width: 540px){
    .container{
      flex-flow: column;
      perspective: none;
    }


    
    .col:nth-of-type(1),
    .col:nth-of-type(2),
    .col:nth-of-type(3),
    .col:hover{
        transform: none;
    }
    
    h4{
      padding-bottom: 8px;
      font-size: 18px;
    }
    
  .card > span{
        display: none;
    }
  }
  
  @media (max-height: 599px){
  .card > span{
        display: none;
    }
  }
  
  @media (max-width: 860px) and (max-height: 540px){
    h4{
      font-size: 14px;
    }
  }
  
  @media (max-width: 620px) and (max-height: 540px){
    h4{
      font-size: 13px;
    }
  }