:root {
  --v-width: clamp(200px, 100%, 1440px);
}

@media screen and (min-width: 768px) {
  :root {
    --v-width: clamp(280px, 85%, 1440px);
  }
}

html,
body {
  width: 100%;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 35px 0px 5px 0px;
}

.map-container {
  width: var(--v-width);
  height: 575px;
  padding: 0 30px !important;
}

@media screen and (min-width: 768px) {
  .map-container {
    padding: initial;
  }
}

#map-link {
  display: block;
  max-width: 75%;
  width: clamp(180px, 75%, 500px);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  #map-link {
    width: auto;
  }
}

#map-link p {
  text-align: center;
  font-size: 2rem;
  color: rgb(65, 65, 247);
  text-decoration: underline;
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

.bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--v-width);
  height: 550px;
  padding: 0 !important;
}

#bar-chart {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
}

.scatter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--v-width);
  height: 550px;
  margin: auto;
}

#scatter {
  height: 100%;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col {
  height: 900%;
  flex: 0 0 33.3333%;
  position: relative;
}

.card-container {
  position: relative;
  /* width: calc(100% - 25px); */
  height: calc(33.3% - 25px);
  margin: 17px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 200px;
  padding: 13px 21px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.739),
    0px 8px 13px rgba(0, 0, 0, 0.863), 0px 18px 23px rgba(0, 0, 0, 0.945);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card.c1 {
  background-image: url("../img/barrel.jpg");
}

.card.c2 {
  background-image: url("../img/price.jpg");
}

.card.c3 {
  background-image: url("../img/cheese.jpg");
}

.card.c4 {
  background-image: url("../img/reviewers.jpg");
}

.card.c5 {
  background-image: url("../img/close.jpg");
}

.card.c6 {
  background-image: url("../img/clouds1.jpg");
}

h4 {
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  max-width: 320px;
  outline: 1px solid transparent;
}

@media (max-width: 1100px) {
  .col {
    height: 100%;
  }
}

@media (max-width: 768px) {
  h4 {
    font-size: 17px;
  }
}

@media (max-width: 540px) {
  .container {
    flex-flow: column;
    perspective: none;
  }

  h4 {
    padding-bottom: 8px;
    font-size: 18px;
  }
}

@media (max-width: 860px) and (max-height: 540px) {
  h4 {
    font-size: 14px;
  }
}

@media (max-width: 620px) and (max-height: 540px) {
  h4 {
    font-size: 13px;
  }
}
