<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Wine Data (Credits)
        </title>
    </head>
    <body>
        <section id="photos">
            <h1>Photos:</h1>
            www.pexels.com
            <a href="https://www.pexels.com/search/wine/">
                https://www.pexels.com/search/wine/
            </a>
            <h3>Adonyi Gábor</h3>
            <a href="https://www.pexels.com/photo/wine-bottle-beside-grapes-roses-and-several-fruits-on-brown-wooden-surface-1407857/">
                https://www.pexels.com/photo/wine-bottle-beside-grapes-roses-and-several-fruits-on-brown-wooden-surface-1407857/
            </a>
            <a href="https://www.pexels.com/photo/photography-of-wine-bottle-on-table-between-fruits-1407849/">
                https://www.pexels.com/photo/photography-of-wine-bottle-on-table-between-fruits-1407849/
            </a>
            <h3>freestocks.org</h3>
            <a href="https://www.pexels.com/photo/alcohol-bar-beverage-black-background-312080/">
                https://www.pexels.com/photo/alcohol-bar-beverage-black-background-312080/
            </a>
            <h3>Chris F</h3> 
            <a href="https://www.pexels.com/photo/assorted-wine-bottles-1283219/">
                https://www.pexels.com/photo/assorted-wine-bottles-1283219/
            </a>
            <h3>Brett Sayles</h3>
            <a href="https://www.pexels.com/photo/five-assorted-variety-labeled-bottles-1660560/">
                https://www.pexels.com/photo/five-assorted-variety-labeled-bottles-1660560/
            </a>
            <h3>rome dema</h3>
            <a href="https://www.pexels.com/photo/alcohol-bar-barrel-basement-442969/">
                https://www.pexels.com/photo/alcohol-bar-barrel-basement-442969/
            </a>
            <h3>ELEVATE</h3>
            <a href="https://www.pexels.com/photo/brown-wooden-barrel-1267358/">
                https://www.pexels.com/photo/brown-wooden-barrel-1267358/
            </a>
            <h3>Silver Works</h3>
            <a href="https://www.pexels.com/photo/person-holding-glass-of-purple-beverage-2078400/">
                https://www.pexels.com/photo/person-holding-glass-of-purple-beverage-2078400/
            </a>
            <h3>Pixabay</h3>
            <a href="https://www.pexels.com/photo/farm-land-during-sunset-51947/">
                https://www.pexels.com/photo/farm-land-during-sunset-51947/
            </a>
            <a href="https://www.pexels.com/photo/alcohol-alcoholic-background-beer-301692/">
                https://www.pexels.com/photo/alcohol-alcoholic-background-beer-301692/
            </a>
        </section>
        <section id="bootstrap">
            <h1>Bootstrap:</h1>
            startbootstrap.com
            <h3>Grayscale Theme (landing page template & stats.html footer)</h3> 
            <a href="https://startbootstrap.com/themes/grayscale/">https://startbootstrap.com/themes/grayscale/</a>
        </section>
        <section id="css">
            <h1>CSS:</h1>
            codepen.io
            <h3>Piotr Galor (3d Cards @ stats.html)</h3> 
            <a href="https://codepen.io/pgalor/full/ERNaYL">https://codepen.io/pgalor/full/ERNaYL</a>
        </section>
        <section id="javascript">
            <h1>Javascript:</h1>
            <h3>
                <a href="https://cesiumjs.org/">https://cesiumjs.org/</a>
            </h3>
            <h3>https://unpkg.com/leaflet@1.3.3/dist/leaflet.js</h3>
            <h3>https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js</h3>
            <h3>https://cdn.plot.ly/plotly-latest.min.js</h3>
            <h3>https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js</h3>
        </section>
    </body>
</html>