<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Project2Wine</title>

        <!-- Bootstrap core CSS -->
        <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="static/css/grayscale.min.css" rel="stylesheet">
    </head>
    <body id="page-top">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">
                    Home
                </a>
                <button
                    class="navbar-toggler navbar-toggler-right"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#stats">Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#conclusions">Conclusions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#credits">Credits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#github">Github</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header -->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">
                        Project2Wine
                    </h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">
                        A platform for gathering meaningful insights about Wine across the US.
                    </h2>
                    <a href="#stats" class="btn btn-primary js-scroll-trigger">
                        Get Started
                    </a>
                </div>
            </div>
        </header>
        <!-- Projects Section -->
        <section id="projects" class="projects-section bg-light">
            <div class="container">
                <!-- Featured Route Row -->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7">
                        <a href="/stats">
                            <img
                                id="stats"
                                class="img-fluid mb-3 mb-lg-0"
                                src="{{ url_for('static', filename='img/bg-bottle.jpg') }}"
                                alt=""
                            >
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>
                                <a href="/stats">Statistics</a>
                            </h4>
                            <p class="text-black-50 mb-0">An intuitive view of Wine data.</p>
                        </div>
                    </div>
                </div>
                <!-- Route Two Row -->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/tall1.jpg') }}" alt="">
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100" >
                                <div class="project-text w-100 my-auto text-center text-lg-left"  id="conclusions">
                                    <h4 class="text-white" >Conclusions</h4>
                                    <p class="mb-0 text-white-50">
                                        * There are three states which clearly produce higher-value wines: Iowa, Ohio, and Connecticut. The rating-to-price ratio in these states is significantly higher than states like California, which are well-known for their wines.
                                    </p>
                                    <br>
                                    <p class="mb-0 text-white-50">
                                        * Across wine varieties, average prices and ratings do not vary significantly. If you have a favorite wine variety, you don’t need to worry about missing out on value since there aren’t major differences across the most popular wine types.
                                    </p>
                                    <br>
                                    <p class="mb-0 text-white-50">
                                        * In general, there isn’t a strong correlation between wine prices and ratings. Even in different price brackets, a wine’s price isn’t related to its rating in a meaningful way. Therefore, we are happy to report that you don’t need to spend a fortune to enjoy nice wine!
                                    </p>
                                    <hr class="d-none d-lg-block mb-0 ml-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Route Three Row -->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6">
                        <img class="img-fluid" src="static/img/tall3.jpg" alt="" id="credits">
                    </div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white" id="credits">Credits</h4>
                                    <p class="mb-0 text-white-50">
                                        Photos: <a href="{{ url_for('.credits', _anchor='photos') }}">Link</a>
                                    </p>
                                    <p class="mb-0 text-white-50">
                                        Bootstrap: <a href="{{ url_for('.credits', _anchor='bootstrap') }}">Link</a>
                                    </p>
                                    <p class="mb-0 text-white-50">
                                        CSS:  <a href="{{ url_for('.credits', _anchor='css') }}">Link</a>
                                    </p>
                                    <p class="mb-0 text-white-50">
                                        JavaScript: <a href="{{ url_for('.credits', _anchor='javascript') }}">Link</a>
                                    </p>
                                    <hr class="d-none d-lg-block mb-0 mr-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- GitHub Section -->
        <section id="github" class="contact-section bg-black">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="social d-flex justify-content-center">
                            <a href="https://github.com/petersmyers/Project2Wine" class="mx-2">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer class="bg-black small text-center text-white-50">
            <div class="container">
                Copyright &copy; Project2Wine.com 2019
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="static/vendor/jquery/jquery.min.js"></script>
        <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="static/js/grayscale.min.js"></script>
    </body>
</html>