{% extends 'base.html' %}

{% block content %}

            <section id="projects" class="projects-section bg-light">
                <div class="container-fluid">
                <!-- Featured Route Row -->
                    <div class="row justify-content-center no-gutters mb-5 mb-lg-5">

                        <div class="col-5" id="top-row">
                            <h4 class="text-black-50 mb-0">Map</h4>
                            <p id="map"></p>
                        </div>

                        <div class="col-5" id="top-row">
                            <h4 class="text-black-50 mb-0">Bar Chart</h4>
                            <img class="img-fluid" src="{{ url_for('static', filename='img/reviewers.jpg') }}" alt="">
                        </div>

                    </div>
                </div>
            </section>

            

            <div id="bar-chart"></div>

            <div id="taster-profile"></div>

            <div id="scatter-plot"></div>



    <script type="text/javascript">
        var data = {{ states|tojson }};
        var tops = {{ top|tojson }};
    </script>


    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

    <!-- MomentJS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!-- Icons -->
    <script src="static/js/leaflet-dvf.markers.js"></script>

    <!-- polyfill.io is library for using newer JavaScript features in older browers (such as Object.assign) -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

    <!-- API Key -->
    <script type="text/javascript" src="static/js/config.js"></script>

    <!-- Javascript files must go in the static/js folder -->
    <script type="text/javascript" src="static/js/app.js"></script>

{% endblock %}