<div class="container">
    <!-- Route Two Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
            <img class="img-fluid" src="{{ url_for('static', filename='img/tall1.jpg') }}" alt="">
        </div>
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left" id="conclusions">
                        <h4 class="text-white">Conclusions</h4>
                        <p class="mb-0 text-white-50">
                            * There are three states which clearly produce higher-value wines: Iowa, Ohio,
                            and Connecticut. The rating-to-price ratio in these states is significantly
                            higher than states like California, which are well-known for their wines.
                        </p>
                        <br>
                        <p class="mb-0 text-white-50">
                            * Across wine varieties, average prices and ratings do not vary significantly.
                            If you have a favorite wine variety, you don't need to worry about missing out
                            on value since there aren't major differences across the most popular wine
                            types.
                        </p>
                        <br>
                        <p class="mb-0 text-white-50">
                            * In general, there isn't a strong correlation between wine prices and ratings.
                            Even in different price brackets, a wine's price isn't related to its rating in
                            a meaningful way. Therefore, we are happy to report that you don't need to spend
                            a fortune to enjoy nice wine!
                        </p>
                        <hr class="d-none d-lg-block mb-0 ml-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>