<footer class="contact-section bg-black">
  <div>
    <h2>Top Wine</h2>
    <p>
      This was a group project at Washington University's Data Analytics Boot
      Camp (2019)
    </p>
  </div>
  <div>
    <h3>Project Team</h3>
    <ul>
      <li>
        <a
          href="https://github.com/amullenger"
          target="_blank"
          title="Visit their GitHub profile"
        >
          @amullenger
        </a>
      </li>
      <li>
        <a
          href="https://github.com/petersmyers"
          target="_blank"
          title="Visit their GitHub profile"
        >
          @petersmyers
        </a>
      </li>
      <li>
        <a
          href="https://github.com/dperkins2315"
          target="_blank"
          title="Visit their GitHub profile"
        >
          @dperkins2315
        </a>
      </li>
      <li>
        <a
          href="https://github.com/theodoremoreland"
          target="_blank"
          title="Visit their GitHub profile"
        >
          @theodoremoreland
        </a>
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        <a
          href="https://github.com/theodoremoreland/TopWine"
          target="_blank"
          title="View source code on GitHub."
        >
          Source code
        </a>
      </li>
      <li>
        <a
          href="https://www.kaggle.com/datasets/zynicide/wine-reviews"
          target="_blank"
          title="View data set on Kaggle."
        >
          Data set
        </a>
      </li>
    </ul>
  </div>
</footer>
