<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">
                Top Wine
            </h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">
                Visualizations and analysis of wine quality based on reviews from the country's top 10 wine
                critics.
            </h2>
            <a href="#visualizations" class="btn btn-primary js-scroll-trigger">
                Continue
            </a>
        </div>
    </div>
</header>