<div class="container">
    <p>
        Our goal for this project was to create a set of visualizations to show how wine varieties, pricing, and ratings vary by location in the United States. We also show how ratings and price differ between wine varieties. The data set we are using comes from a web scraping project that sourced data points on individual wines from WineEnthusiast back in 2017. The data points collected include country of origin, description, points (rating), region, price, variety, etc.
    </p>
</div>